.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 150px;
    z-index: 200;
    padding-top: 5px;
    border-right: 1px solid rgb(70, 70, 70);
}
.sidebar-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-image img{
    height: 24px;
}
.sidebar-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}